.cart-page * {
    box-sizing: border-box;
    color: #444;
}
.cart-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.cart-page h2 {
    margin-bottom: 20px;
    color: #333;
}
.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cart-item {
    display: flex;
    align-items: center;        
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
}
.item-details {
    flex: 1;
}
.item-details h3 {
    margin: 0 0 5px;
    font-size: 18px;
    /* font-weight: bold; */
}
.item-details p {
    margin: 0 0 10px;
    color: #666;
    font-size: 13px;
}
.cart-item button {
    align-items: center;
    background-color: #f68b8b;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}
.cart-item button:hover {
    background-color: #ff6f61;
}
.price {
    font-size: 16px;
    font-weight: bold;  
    color: #000;
}
.quantity-controls {
    display: flex;
    align-items: center;
}
.quantity-controls button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #f68b8b;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}
.quantity-controls button:hover {
    background-color: #ff6f61;
}
.quantity-controls span {
    margin: 0 10px;
    font-size: 16px;
}
.cart-summary {
    margin-top: 20px;
    text-align: center;
}
.cart-summary h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #000;
}
.checkout-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #ff6f61;  
    color: honeydew;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 800;
}
.checkout-button:hover {
    background-color: #e65b50;
    color: white;
}
.response-message {
    margin-bottom: 20px;
    padding: 10px;
    background-color: honeydew;
    color: #e43b07;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    font-weight: 800;
    text-align: center;
}   
