.merchant-category-page {
    max-width: 800px;
    margin: 0 auto 50px auto;
    /* margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; */
}

.merchant-category-list {
    border-radius: 5px;
    padding: 20px;
}

.merchant-category-list h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: left;
}

.merchant-category-list button {
    /* background-color: #ff6f61;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 35%; */

    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    width: 35%;
}

.merchant-category-list button:hover {
    background-color: #e65b50;
}

.merchant-category-list ul li {
    list-style-type: none;
    padding: 10px 10px 10px 15px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 1.5px;
    border: 1px solid #ddd; 
}

.merchant-category-list span {
    display: block;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.merchant-btn button {
    border: 1px solid #ddd;
    font-size: 13px;
    margin-left: 10px;
    padding: 4px 10px;
}

.merchant-btn .merchant-edit-btn {
    background-color: #4CAF50;
}

.merchant-btn .merchant-edit-btn:hover {
    background-color: #45a049;
}

.merchant-btn .merchant-delete-btn {
    background-color: red;
}

.merchant-btn .merchant-delete-btn:hover {
    background-color: rgb(226, 34, 34);
}