body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f98b8b;
    padding: 10px 20px;
    font-weight: 600;
}

.navbar-brand img {
    height: 5rem;
    
}

.navbar-search input {
    padding: 10px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.navbar-search button {
    padding: 10px 15px;
    margin-left: 5px;
    background-color: #fff;
    color: #ff6f61;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.navbar-search button:hover {
     background-color: #ff6f61;
    color: white;
}

.navbar-link a,
.navbar-link li{
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    list-style: none;
}

.active {
    background-color: #ff6f61;
    border-radius: 3px;
    padding: 10px 15px;
    margin-left: 5px;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f98b8b;
    padding: 10px 40px;
    font-weight: 600;
}

.navbar-brand img {
    height: 50px;
}

.navbar-search {
    display: flex;
}

.navbar-search input {
    padding: 8px 12px;
    width: 350px;
    border-radius: 4px;
    border: none;
}

.navbar-search button {
    padding: 8px 15px;
    margin-left: 5px;
    background-color: white;
    color: #f98b8b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.navbar-search button:hover {
    background-color: #ff6f61;
    color: white;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-links a.active {
    background-color: #ff6f61;
    padding: 8px 12px;
    border-radius: 4px;
}

.logout-btn {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
} */
